//@import "vendor/bower_components/foundation/scss/foundation.scss";
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap.min";
@import "vendor/bower_components/material-master/assets/sass/base";
@import "project";
@import "select2";
@import "jquery.cleditor";

.nav > li > a:hover, .nav > li > a:focus{
  text-decoration: none !important;
  background:none;
}