@font-face {
	font-family: 'develhn1';
	src:url('http://basetest.app/font/devel-icon/develhn1.eot?-wolebl');
	src:url('http://basetest.app/font/devel-icon/develhn1.eot?#iefix-wolebl') format('embedded-opentype'),
		url('http://basetest.app/font/devel-icon/develhn1.ttf?-wolebl') format('truetype'),
		url('http://basetest.app/font/devel-icon/develhn1.woff?-wolebl') format('woff'),
		url('http://basetest.app/font/devel-icon/develhn1.svg?-wolebl#develhn') format('svg');
	font-weight: normal;
	font-style: normal;
}

.wicon {
	font-family: 'develhn1';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wicon-home:before {
	content: "\e900";
}
.wicon-pencil2:before {
	content: "\e906";
}
.wicon-bullhorn:before {
	content: "\e91a";
}
.wicon-file-text:before {
	content: "\e922";
}
.wicon-profile:before {
	content: "\e923";
}
.wicon-folder:before {
	content: "\e92f";
}
.wicon-coin-dollar:before {
	content: "\e93b";
}
.wicon-coin-euro:before {
	content: "\e93c";
}
.wicon-phone:before {
	content: "\e942";
}
.wicon-address-book:before {
	content: "\e944";
}
.wicon-envelop:before {
	content: "\e945";
}
.wicon-pushpin:before {
	content: "\e946";
}
.wicon-location:before {
	content: "\e947";
}
.wicon-printer:before {
	content: "\e954";
}
.wicon-floppy-disk:before {
	content: "\e962";
}
.wicon-bubble:before {
	content: "\e96b";
}
.wicon-bubbles:before {
	content: "\e96c";
}
.wicon-user:before {
	content: "\e971";
}
.wicon-user-plus:before {
	content: "\e973";
}
.wicon-user-minus:before {
	content: "\e974";
}
.wicon-user-check:before {
	content: "\e975";
}
.wicon-user-tie:before {
	content: "\e976";
}
.wicon-quotes-left:before {
	content: "\e97e";
}
.wicon-spinner:before {
	content: "\e97b";
}
.wicon-key2:before {
	content: "\e98e";
}
.wicon-cog:before {
	content: "\e994";
}
.wicon-cogs:before {
	content: "\e995";
}
.wicon-hammer:before {
	content: "\e996";
}
.wicon-bug:before {
	content: "\e999";
}
.wicon-pie-chart:before {
	content: "\e99a";
}
.wicon-stats-dots:before {
	content: "\e99b";
}
.wicon-stats-bars:before {
	content: "\e99c";
}
.wicon-stats-bars2:before {
	content: "\e99d";
}
.wicon-bin:before {
	content: "\e9ac";
}
.wicon-clipboard:before {
	content: "\e9b8";
}
.wicon-list:before {
	content: "\e9ba";
}
.wicon-download2:before {
	content: "\e9c5";
}
.wicon-upload2:before {
	content: "\e9c6";
}
.wicon-link:before {
	content: "\e9cb";
}
.wicon-happy:before {
	content: "\e9e0";
}
.wicon-tongue:before {
	content: "\e9e3";
}
.wicon-sad:before {
	content: "\e9e5";
}
.wicon-wink:before {
	content: "\e9e7";
}
.wicon-grin:before {
	content: "\e9e9";
}
.wicon-cool:before {
	content: "\e9eb";
}
.wicon-wondering:before {
	content: "\e9fb";
}
.wicon-warning:before {
	content: "\ea07";
}
.wicon-question:before {
	content: "\ea09";
}
.wicon-plus:before {
	content: "\ea0a";
}
.wicon-minus:before {
	content: "\ea0b";
}
.wicon-cross:before {
	content: "\ea0f";
}
.wicon-checkmark:before {
	content: "\ea10";
}
.wicon-exit:before {
	content: "\ea14";
}
.wicon-arrow-up-left:before {
	content: "\ea31";
}
.wicon-arrow-up:before {
	content: "\ea32";
}
.wicon-arrow-up-right:before {
	content: "\ea33";
}
.wicon-arrow-right:before {
	content: "\ea34";
}
.wicon-arrow-down-right:before {
	content: "\ea35";
}
.wicon-arrow-down:before {
	content: "\ea36";
}
.wicon-arrow-down-left:before {
	content: "\ea37";
}
.wicon-circle-up:before {
	content: "\ea41";
}
.wicon-circle-right:before {
	content: "\ea42";
}
.wicon-circle-down:before {
	content: "\ea43";
}
.wicon-circle-left:before {
	content: "\ea44";
}
.wicon-ctrl:before {
	content: "\ea50";
}
.wicon-google-plus:before {
	content: "\ea89";
}
.wicon-google-drive:before {
	content: "\ea8b";
}
.wicon-facebook:before {
	content: "\ea8e";
}
.wicon-twitter:before {
	content: "\ea93";
}
.wicon-feed:before {
	content: "\ea94";
}
.wicon-youtube4:before {
	content: "\ea9a";
}
.wicon-vimeo:before {
	content: "\ea9e";
}
.wicon-flickr:before {
	content: "\eaa3";
}
.wicon-github:before {
	content: "\eab1";
}
.wicon-tux:before {
	content: "\eabe";
}
.wicon-skype:before {
	content: "\eac6";
}
.wicon-pinterest:before {
	content: "\ead0";
}
.wicon-file-pdf:before {
	content: "\eada";
}
.wicon-file-openoffice:before {
	content: "\eadb";
}
.wicon-file-word:before {
	content: "\eadc";
}
.wicon-file-excel:before {
	content: "\eadd";
}
.wicon-html5:before {
	content: "\eadf";
}
.wicon-css3:before {
	content: "\eae1";
}
.wicon-git:before {
	content: "\eae2";
}
.wicon-calendar2:before {
	content: "\e602";
}
